* {
    font-size: 1rem;
}

.character_sheet {
    max-width: 1280px;
    min-height: 100vh;
}

.character_sheet_main_section {
    display: flex;
    justify-content: space-between;
}

.character_sheet_column {
    margin: 0 2vw;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

/** Character Profile section **/

.character_profile {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 20vh;
}

.portrait {
    height: 96px;

    margin-right: 2rem;
}

.character_profile_text {

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    color: #663300;

}

.character_profile_text p {
    font-size: 1.25rem;
    margin: 0.125rem 0;
}

.character_profile_text .character_name {
    font-size: 1.5rem;
    font-weight: bold;
}

.character_profile_text .character_class_race_level, .character_profile_text .exp {
    margin-left: 2rem;
}

/** Section titles **/

.section_title_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.section_title_container .number {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 0.5rem;

    font-size: 1.5rem;
    font-weight: bold;

    width: 2rem;
    height: 2rem;

    color: white;
    background-color: black;
    border-radius: 50%;
}

.section_title_container .section_title {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

/** Ability Score section **/

.ability_scores {

    display: flex;
    flex-direction: column;
}

.ability_score_container {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    margin: 0.25rem;
}

.ability_score {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 2px solid #996633;
    border-radius: 3px;

    min-width: 4rem;
    min-height: 4rem;
    
    padding: 0.25rem;
}

.ability_score_container .full_name {

    font-size: 1rem;
    margin: 0;
    margin-right: 1rem;

    color: #663300;
}

.ability_score .bonus {

    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

.ability_score .value {

    font-size: 0.75rem;
    margin: 0;

    color: #996633;
}